//公共样式
*{
    padding:0;
    margin:0;
}
//字体样式
//@font-face {
//  font-family: 'myFont';
//  src: url('/assets/font/pingfang.ttf');
//  font-weight: normal;
//  font-style: normal;
//}
// 文字超出出现省略号
.text-beyond {
  width: 101%;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
// 超出折行
.overflow-text{
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}
html,body {
    font-family: myFont, sans-serif;
    }
li{
    list-style: none;
}
input{
    border:none;
    outline:none;
    text-indent: 1.5rem;
}
.fl{
    float: left;
}
.fr{
   float: right;
}
a{
    text-decoration: none;
    color:#979EAC;
}
.el-input__inner{
    border: none !important;
    border-bottom: 1px solid #e4e4e4 !important;
    border-radius:0px !important;
}
.el-input{
    width: 85%;
    margin-top: 0px;
}
//loading加载样式
.spinner span{
    margin: 0px auto;
    display: table;
}
.mint-header{
    background-color:#fff !important;
    color:#000 !important;
}
h1{
    font-weight: 400;
}
body{
    background-color: #f6f6f6;
}
//支付密码样式
.mint-popup-bottom {
    width: 100%;
}
.van-number-keyboard{
    position: absolute;

}
.mint-popup {
    display: block!important;
    z-index: 10000000;
    width: 100%;
}
 .van-popup {
    width: 100%;
    height: 320px;
}
.paymentamount{
    text-align: center;
    display: block;
    font-size: 1.2rem;
    margin-bottom: 15px;
    margin-top: 15px;
}
.van-tabs__line {
    background-color: #456DF1 !important;
}
.mine-cell .mint-cell-wrapper{
    background-image:none;
}
.mine-cell .mint-cell:last-child{
    background-image:none;
}
.mint-cell-wrapper{
  background-image:none;
}
//登录页
.login {
    height: 100%;
    background-color: #fff;
}
.login-cancel img {
    margin: 10px;
}
.logo{
    text-align: center;
    margin: 40px 0 24px 0;
}
.login-tab .mint-navbar {
    text-align: unset;
}
.login-tab a.mint-tab-item {
    display: contents;
}
.login-tab .mint-tab-item-label {
    margin: 20px 40px 20px 28px;
}
.mint-tabbar > .mint-tab-item.is-selected{
  background-color: #fbfbfb !important;
  color:#26a2ff;
}
.mint-tabbar{
  background-image:none !important;
}
.mint-cell:last-child{
   background-image:none !important;
}
.login-tab .mint-tab-item-label {
    font-size: 0.8rem;
    font-weight: 400;
}
.login-content .mint-cell{
    border-bottom:1px solid #f6f6f6;
    width: 95%;
    border-radius: 5px;
    margin: 0 auto;
}
.verification-input{
    text-align: center;

}
.el-form-item__error {
    position: absolute;
    left: 20px;
}
.login-checkbox{
    margin-top: -17px;
    span{
        font-size: 0.77rem;
        margin-left: 28px;
        float: right;
        margin-top: 4px;
        margin-right: 28px;
        a{
            color: #456dfe;
        }
    }
    .fr span{
        margin-right: 28px;
         color:#000;
        font-size:0.8rem;
    }
}
.login-btn{
    width: 100%;
    text-align: center;
    display: inline-block;
    .mint-button{
        background-color: #456dfe;
        color: #fff;
        font-size: 0.88rem;
        margin: 50px auto 10px auto;
        width: 60%;
        -webkit-box-shadow:none;
        box-shadow: none;
        border-radius: 45px;
    }
}
.forget-pwd{
    margin-right: 10px;
}
//--------------------------============================
input.el-input__inner {
    position: relative;
    top: 5px;
}
.el-input--prefix .el-input__inner {
    font-size: 0.77rem;
    padding-left: 6px;
}
.el-input__prefix {
    top: 8px;
}
.el-form-item__error {
    font-size: 10px;
    margin-left: 4px;
    margin-top: 6px;
}
.el-input__suffix {
    right: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
    top: 16px;
}
label.mint-button-text {
    font-size: 0.79rem;
    img{
        position: relative;
        top: 4px;
    }
}
.mint-field-clear {
    opacity: .2;
    top: -3px;
    left: -3px;
    position: relative;
}
//-------------------------登录/忘记密码------------------
.forget-password {
    background-color: #fff;
}
.forget-password-title {
    margin: 20px;
}
.forget-password-title h1{
  font-size: 1.0rem;
}
//.forget-password-btn .mint-button--primary {
//  background-color: #0B6FBA;
//  margin: 50px auto 50px auto;
//}
.forget-password-btn{
    text-align: center;
    .mint-button{
        // background-color: #ddd;
        color: #fff;
        font-size: 0.88rem;
        margin: 50px auto 10px auto;
        width: 60%;
        -webkit-box-shadow:none;
        box-shadow: none;
        border-radius: 45px;
        }
        .nextbtn{
            background-color: #456dfe !important;
        }
}
//-------------------------登录/重置邮件------------------
.reset-mail-information{
    width: 80%;
    text-align: center;
    margin:0 auto;
    margin-bottom: 20px;
    img{
        margin-top: 10px;
        width: 50px;
    }
    .verification-code{
        padding-bottom: 20px;
        margin-top: 20px;
        span{
            margin: 10px 15px 0 0;
            color: #456DF1;
        }
    }
}
.reset-mail-keyboard{
    margin-top: 140px;
}
.reset-mail {
    background-color: #fff;
}
//----------------------注册---------------
.register-footer{
    margin:50px 0px 0px 0px;
    text-align: center;
    ul{
        display: inline-block;
        overflow: auto;
        margin-left: -70px;
        li{
            display: inline;
            float: left;
            margin-left: 20px;
        }
    }
    p{
        margin-top: -20px;
    }
}
.register-eye {
    float: right;
    margin-right: 30px;
    position: relative;
    top: -35px;
}
//-------------------------------首页-------------------
.home-logo {
    width: 100%;
    background-color: #fff;
    text-align: center;
    img{
        width: 150px;
        vertical-align: -webkit-baseline-middle;
    }
}
.home-investment{
    width: 98%;
    background-color: #fff;
    margin: 56px auto;
    height: auto;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
}
.home-investment-top-left li{
    float: left;
    margin-right: 18px;
    font-size: 0.8rem;
    margin-left: 10px;
}
.home-investment-top-right{
    margin-right: 10px;
    margin-top: -40px;
    button{
      background-color: #456DF1;
      color:#fff;
    }

}
.home-investment-content {
    margin-top: -20px;
    margin-left: 60px;
    height: 50px;
    p{
        font-size: 0.78rem;
        color:#999;
        margin-left: 10px;
        span{
          margin-left: 20px;
        }
    }
}
.home-investment-bot {
    height: 30px;
    span{
        font-size: 0.8rem;
        margin-left: 10px;
        display: inline-block;
    }
}
.home-investment-progress{
    width: 93%;
   margin-left: 15px;
}

.home-land{
    width: 98%;
    margin:0 auto;
    margin-top: -35px;
}
.home-land .van-notice-bar{
    background-color: #fff;
    color:#000;
    border-radius: 4px;
}
.home-popularity-content{
    background-color: #fff;
    width: 98%;
    height: 130px;
    margin:0 auto;
    border-radius: 7px;
    margin-top: 10px;
    li{
        float: left;
        margin:20px 10px 0 10px;
        font-size: 0.8rem;
    }
}
.home-popularity-content-top{
    height: 70px;
    p{
       font-size: 0.8rem;
    }
}
.home-popularity-content-bot{
    width: 100%;
    height: 37px;
}
.home-popularity-progress {
    margin: 0 10px 0 10px;
    border-radius: 7px;
}
// .issue-state{
//   color:red;
// }
.home-assets-subscription-title .mint-cell{
  background-color: #f6f6f6 !important;
}
.home-assets-subscription-content{
  white-space: nowrap;
  overflow-x: auto;
  margin: 0px 5px 0 5px;
  position: relative;
  top: -10px;
}
.home-assets-subscription-content::-webkit-scrollbar{
    display: none;
}
.assets-subscription{
    width: auto;
    display:inline-block;
    background-color: #fff;
    border-radius: 7px;
    font-size: 0.8rem;
    box-shadow: 1px 6px 5px #ccc;
    margin-right: 15px;
      span{
          font-size: 0.7rem;
           color: #999;
      }

}
.assets-subscription{
    img{
       margin:10px 0px 0 10px;
    }
}
.assets-subscription-text {
    margin:10px 15px 0 0px;
    text-align:right;
      p{
         font-size: 0.7rem;
          color: #999;
      }
}
.assets-subscription-title{
  margin-left: 4px;
}
.assets-subscription-title{
    div{
      margin: 5px 0 0 10px;
      text-align: right;
      color: #999;
    }
}
.text-right{
   text-align: right;
}
.assets-subscription-information {
    ul{
        color: #000;
        font-size: 0.7rem;
        margin-left: 5px;
        margin-right: 5px;
        li{
            margin-bottom: 10px;
        }
    }
}
.home-assets-more{
    width: 98%;
    background-color: #fff;
    margin:20px auto;
    border-radius:5px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    box-shadow: 1px 5px 5px #ccc;
    span{
        font-size: 0.8rem;
    }
}
//首页/流通中/通证列表页

//首页/流通中/通证详情页
.state0{
  color: red;
  }
.state1{
  color: green;
}
.state2{
  color: blue;
}

.pass-details-information{
    background-color: #fff;
    width: 100%;
    margin: 2px auto;
    height: auto;
    overflow: hidden;
}
.pass-details-information-header{
    margin:10px 0 10px 16px;
    font-weight: 700;
 }
.pass-details-information-content{
    img{
        width: 25px;
    }
}

.pass-details-issue-data {
    height: auto;
    margin-top: 10px;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 45px;
}
.pass-details-issue-data-header{
    margin:10px 0 0px 16px;
    font-weight: 700;
}
.mint-cell-text {
    font-size: 0.72rem;
}
.mint-cell-value{
  font-size: 0.72rem;
  span{

  }
}
table.el-table__header {
    width: auto !important;
}
table.el-table__body {
     width: auto !important;
     font-size: 0.8rem;
}
.pass-details-issue-form {
    margin-top: 10px;
}
.pass-details-issue-form-heder {
    background-color: #fff;
    span{
         margin-left: 10px;
         font-weight: 700;
    }
}
.pass-details-issue-history-title {
    background-color: #fff;
    span{
        margin: 10px 0 10px 10px;
        display: inline-block;
        font-size: 0.8rem;
    }
}
.pass-details-issue-trend-title{
    span{
        margin: 10px 0 10px 10px;
        display: inline-block;
        font-size: 0.8rem;
    }
}
//首页/流通中/通证详情页/通证主体/主体介绍
.mint-navbar .mint-tab-item.is-selected {
    border-bottom: 1px solid #26a2ff;
    color: #26a2ff;
  }

//首页/流通中/通证详情页/通证主体/主体信息
.subject-details-content .mint-tab-item-label {
    font-size: 0.88rem;
}
.information-content span {
    font-size: 0.72rem;
}
.information-title{
    margin: 20px 24px 20px 24px;
    font-size: 0.72rem;
    color: #666;
}
//首页/流通中/去交易
.to-deal-header {
    margin-bottom: 40px;
}
.pass-details-header {
    margin-bottom: 41px;
}
.sell-pass {
    position: relative;
    top: -40px;
}
.van-tabs__line {
    z-index: 1;
    left: 0;
    bottom: 15px;
    height: 3px;
    position: absolute;
    border-radius: 3px;
    background-color: #456DF1;
}
.to-deal-purchase {
    width: 100%;
    background-color: #fff;
    margin: 10px auto;
    height: auto;
}
.to-deal-purchase-top{
    border-bottom: 1px solid #f6f6f6;
    margin: 5px 18px 5px 18px;
    height: 40px;
    line-height: 40px;
    font-size: 0.78rem;
    color: #333;
    img{
        width: 25px;
        vertical-align: middle;
        margin-right: 10px;
    }
}
.to-deal-purchase-bot span:nth-child(2){
    color:#1A8EEE;
    font-size: 1.1rem;
    position: relative;
    top: 10px;
    left: 56px;
}
.to-deal-purchase-bot{
    margin-left: 18px;
    span{
        font-size: 0.67rem;
        color:#999;
        margin-right: 50px;
        img{
            width: 20px;
            position: relative;
            top: 5px;
        }
    }
    p{
        font-size: 0.67rem;
        color: #999;
        margin-top: 10px;
        padding-bottom: 5px;
    }
}
//首页/流通中/去交易/购买通证
.Purchase-pass-content-top {
    margin-left: 8px;
}
.Purchase-pass-content {
    background-color: #f2f2f2;
    width: 100%;
    margin: 43px auto;
}
.Purchase-pass-content-top{
    img{
        margin: 15px 15px 15px 20px;
    }
    span{
        display: block;
        font-size: 0.89rem;
        padding-top: 6px;
    }
    p{
        margin: 20px 0 0 28px;
        font-size: 0.89rem;
    }
}
.Purchase-pass-content-bot {
    font-size: 1.0rem;
    margin: 16px 0 0 36px;
    padding-bottom: 10px;
    span{
        position: relative;
        top: -3px;
    }
}
.Purchase-pass-tabbar .mint-field .mint-cell-value {
    border-bottom: 1px solid #ccc;
    margin: 24px 20px 2px 20px;
}
.Purchase-pass-tabbar input.mint-field-core{
    font-size: 0.89rem;
    color:#000;
    top: -4px;
    position: relative;
}
.mint-field-other{
    top: -4px;
    font-size: 0.78rem;
}
.Purchase-pass-tabbar p{
    height: 20px;
    background-color: #fff;
    padding:10px 0 10px 50px;
    font-size: 0.67rem;
    color:#456df1;
}
.Purchase-pass-tabbar .mint-cell-wrapper {
    padding-top: 10px;
}
.Purchase-pass-tabbar {
    margin-top: -10px;
    margin-bottom: 54px;
}
.Purchase-pass-btn {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}
.Purchase-pass-btn .mint-button{
    border-radius: 45px
}
//首页/流通中/购买发布
.purchase-pass-header{
    margin-bottom: 50px;
}
.to-details-header .release{
    margin-right: 10px;
}
.purchase-pass-type {
    height: 50px;
    background-color: #fff;
    margin-top: 45px;
    line-height: 50px;
    span{
        margin-left: 15px;
        color:#999;
    }
}
.purchase-pass-type-checkbox {
    margin-right: 10px;
    input{
        margin-left: 50px;
    }
}
.purchase-pass-buy-assets{
    height: 80px;
    background-color: #fff;
    margin-top: 10px;
}
.purchase-pass-buy-assets span:first-child{
    line-height: 80px;
    margin-left: 15px;
    color:#979eac;
    font-size: 0.78rem;
}
.purchase-pass-buy-information{
    margin-top: 10px;
    margin-right: 28px;
    font-size: 0.78rem;
    span{
        position: relative;
        top: -15px;
        left: 10px;
    }
    img{
        margin-top: 8px;
        margin-left: 20px;
    }
}
.purchase-pass-valuation-assets span:first-child{
    color:#979eac;
    margin-left: 15px;
    font-size: 0.78rem;
}
.purchase-pass-valuation-assets {
    height: 50px;
    background-color: #fff;
    margin-top: 0px;
    line-height: 50px;
    margin-bottom: 10px;
}
.purchase-pass-valuation-assets-img{
    margin-right: 28px;
    img{
        margin-top: 8px;
    }
    span{
        position: relative;
        top: -2px;
        font-size: 0.78rem;
    }
}
.purchase-pass-input {
    height: auto;
    background-color: #fff;
    margin-top: -1px;
    input{
        border-bottom: 1px solid #ccc;
        height: 40px;
        width: 90%;
        margin: 5px 0 10px 15px;
    }
    p{
        padding: 10px 0 0 15px;
        color:#979eac;
        font-size: 0.78rem;
    }
    span{
        margin-left: 25px;
        padding-bottom: 10px;
        display:block;
        color:#456df1;
        font-size: 0.67rem;
    }
}
.purchase-pass-quota {
    margin-bottom: 20px;
    background-color: #fff;
    .purchase-pass-quota-input{
        border-bottom: 1px solid #ccc;
        display: inline-block;
        width: 40%;
        height: 40px;
        color: #000;
        border-radius: 5px;
        font-size: 0.61rem;
        text-indent: initial;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    p{
        margin-left: 15px;
        color:#979eac;
        font-size: 0.78rem;
        padding-top: 10px;
    }
}
.purchase-pass-quota .mint-field-core{
    text-indent:0rem;
 }
.purchase-pass-btn{
    width: 90%;
    margin: 0 auto;
}
//首页/发行中/通证详情
.pass-details-issue-btn{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.copy-text{
    -webkit-touch-callout: all;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}
//首页/发行中/买入通证
.buy-pass-name {
    height: 50px;
    background-color: #fff;
    margin-top: 50px;
    overflow: hidden;
    padding-left: 15px;
    span{
        display: block;
        font-size: 0.8rem;
    }
    img{
        margin: 10px;
    }
    p{
      font-size: 0.8rem;
    }
}
.buy-password-show {
    margin-top: -80px;
}
.buy-pass-name-text {
   margin: 10px 0 0 10px;
}
.buy-pass-name-price {
    background-color: #fff;
    height: 50px;
    margin-top: 1px;
    line-height: 50px;
    margin-bottom: 30px;
    p{
        margin-left: 30px;
        color:#666;
        display:inline-block;
        font-size: 0.78rem;
    }
    span{
        margin-right: 10px;
        color:#999;
    }
}
.buy-pass-name-price-text.fr span {
    font-size: 0.89rem;
    color: #333;
}
.buy-pass-time {
    margin-bottom: 20px;
    padding-top: 10px;
    background-color: #fff;
    p{
        font-size: 0.78rem;
        color: #000;
        padding: 1px 0 0 50px;
    }
    span {
    color: #ff6600;
    margin-left: 15px;
    }
}
.buy-pass-btn{
    width: 85%;
    margin: 0 auto;
}
//首页/待发行/入驻期
.to-issue-name {
    margin-top: 10px;
}
.to-issue-progess{
    span{
        margin: 10px 0 10px 10px;
        display: inline-block;
    }
    .el-steps--horizontal{
        margin-left: 30px;
    }
}
.to-issue-btn{
    margin:20px 0 0 10px;
    button{
        margin-right: 5px;
    }
}
//首页/探索
/*--------------------------商户---------------*/
.explore-header {
    margin-bottom: 41px;
}
.merchant-list{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    margin-top: 10px;
    height: auto;
}
.merchant-list-img{
    display: inline-block;
    margin:0 20px 0 -20px;
}
.merchant-list-name{
    p{
        display: inline-block;
        margin: 5px 0px 0 50px;
    }
    ul{
        height: auto;
        margin: -10px 0 0 10px;
        li{
            float: left;
            margin-right: 15px;
        }
    }
}
.merchant-list-nauthentication{
    position: absolute;
    right: 0;
    bottom: 80px;
}
/*------------------------我的---------------------*/
.mine-head{
    height: 0;
    text-align: center;
    margin-top: 30px;
}
.mine-cell{
    margin-top: 150px;
}
.mine-cell-list{
   margin-top: 1px;
}
//------------------------我的/交易流水------------------
.mine-safety {
    margin: 8px 0 8px 0px;
}
.mine span.mint-cell-text {
    font-size: 0.78rem;
    margin-left: 6px;
}
.mint-cell-title {
    margin-left: 16px;
    flex: 0px;
}
.assets-img{
  position: relative;
  top: 12px;
}
.transaction-flow-title{
    color:#fff;
    width: 100%;
    img{
        width: 15px;
        padding:0 5px 0 5px;
    }
    ul{
        margin-left: -30px;
        li{
            margin-right: 20px;
        }
    }
    fl{
        margin-right: 30px;
        font-size:0.8rem;
    }
}
.transaction-flow-list{
    margin-top: 50px;
}
//-----------------------我的/资产------------------
.assets-icon{
  position: relative;
  top: 12px;
}
.mint-cell{
  margin: 1px 0 1px 0;
}
.mint-cell-label {
    color: #888;
    display: block;
    font-size: 12px;
    margin-top: 6px;
    margin-left: 40px;
}
.certificate-list-header {
    margin-bottom: 41px;
}
.assest-header{
    margin-bottom: 50px;
}
.assets-list-add{
    position: relative;
    top: 10px;
}
.assets-list{
    background-color: #fff;
    height: 30px;
    text-align: center;
    margin-bottom: 10px;
    img{
        margin-right: 10px;
        margin-top: 2px;
    }
    span{
        font-size: 0.78rem;
        position: relative;
        top: -4px;
    }
  }
//我的/资产/明细
.assets-detailed-header{
    margin-bottom: 41px;
}
  .assets-detailed-list p {
    width: 100%;
    text-align: center;
    position: relative;
    top: -10px;
    font-size: 0.78rem;
}
.assets-list-right {
    margin: -30px 10px 0 0;
}
.assets-detailed-list a.mint-cell {
    margin-bottom: -23px;
}
//我的/资产/明细/交易详情
.transaction-details-number {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    span{
        font-size: 1.4rem;
    }
    p{
        font-size: 0.8rem;
        color:#999;
    }
}
.transaction-details-adress {
    font-size: 0.72rem;
    background-color: #fff;
    height: 80px;
    padding: 0 10px 0 20px;
    margin-top: -1px;
    li{
        color: #979eac;
        line-height: 28px;

    }
}
.transaction-details-information{
     font-size: 0.72rem;
     background-color: #fff;
    height:130px;
    padding: 0 10px 0 20px;
    margin-top: 10px;
    li{
       line-height: 28px;
      color: #979eac;
    }
}
.transaction-details-information-text{
    background-color: #fff;
      span{
        font-size: 0.72rem;
        color: #979eac;
        margin-left: 20px;
    }
}
.transaction-details-information-border{
   width: 330px;
    height: 76px;
    border: 1px solid #999;
    margin-left: 20px;
}
.transaction-details-information-right{
    li{
     color: #333;
    }
    font-size: 0.78rem;

    margin-right: 20px;
    text-align: right;
}

//我的/资产/资产详情
.assets-detailed-exhibition {
    background-color: #fff;
    span{
        font-size: 0.8rem;
        color:#999;
    }
}
.assets-detailed-exhibition-text{
    text-align: center;
    padding-top: 30px;
    span{
        font-size: 1.5rem;

    }
}
.assets-detailed-exhibition-img {
    width: 58%;
    margin: 0 auto;
    height: 80px;
    padding-top: 20px;
    li{
        font-size: 0.8rem;
        margin-left: 50px;
        margin-top: 5px;
    }
}
.assets-detailed-whole {
    height: 40px;
    background-color: #fff;
}
.assets-detailed-whole-header {
    span{
        margin:10px 10px 0 10px;
        font-size: 0.9rem;
    }
}
.assets-detailed-tabbar button{
    margin-top: 20px;
}
//我的/资产/资产详情/转入
.to-change-into-exhibition{
    background-color: #fff;
    margin-top: 45px;
    height: auto;
    padding-bottom: 20px;
    span{
        font-size: 1.0rem;
        text-align: center;
    }
}
.to-change-into-exhibition-img {
    width: 55%;
    margin: 0 auto;
    height: 80px;
    padding-top: 20px;
    li{
        font-size: 0.8rem;
    }
}
.to-change-into-qrcode {
    background-color: #fff;
    margin-top: -1px;
    text-align: center;
    p{
      font-size: 0.8rem;
      color:#999;
      padding-bottom: 20px;
    }
}
img.fr.tag-read {
    float: right;
    margin-top: 20px;
    margin-right: -50px;
}
.to-change-into-exhibition-adress{
    margin-top: 10px;
    width: 101%;
}
//我的/资产/资产详情/转出
.turn-out-exhibition {
    background-color: #fff;
    height: 70px;
    margin: 50px 0 10px 0;
}
.turn-out-exhibition-img{
    margin-left: 15px;
    padding-top: 14px;
    span{
      display: block;
      font-size: 0.8rem;
    }
    img{
        margin-right: 15px;
    }
}
.turn-out-exhibition-qrcode {
    background-color: #fff;
    text-align: center;
    margin:30px 0 30px 0;
    height: 50px;
    line-height: 50px;
}
.turn-out-exhibition-text p{
    font-size: 0.8rem;
    color:#999;
    margin-left: 10px;
    margin-top: 10px;
}
//我的/资产/资产详情/扫一扫
.scan-button {
    position: relative;
    top: 150px;
}
.scandetail{
    background-color: #fff;
}
.scandetail-header{
    margin-bottom: 43px;
}
.scandetail-num{
    margin: 20px 0px 0px 15px;
    input{
        bottom: 1px soli;
        border-bottom: 1px solid #ccc;
        width: 96%;
        margin-bottom: 10px;
    }
    span{
        color:#999;
    }
    p{
        color:blue;
        font-size: 0.8rem;
    }
}
.scandetail-btn{
    margin-top: 20px;
}
.scandetail-text {
    font-size: 0.8rem;
    margin-left: 15px;
    margin-top: 20px;
    color: #999;
}
//  ----------------------我的/安全中心---------------------
 .safety-center-list .mint-cell {
    margin:5px 0px 5px 0;
  }
 .safety-center-list .mint-cell-wrapper {
    background-image:none;
 }
 .safety-center-list {
    margin-top: 45px;
}
.safety-verification-list{
  span{
    margin-left: 15px;
  }
  b{
    font-weight:400;
    position: relative;
    top: -10px;
  }
  //  ----------------------我的/安全中心/重置密码---------------------
}
.rest-pass-word-from {
    background-color: #fff;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 18px;
}
.rest-pass-word-from .mint-cell-wrapper {
    background-image: none;
}
.rest-pass-word-from label{
    margin-left: 15px;
}
.rest-pass-word-text{
    margin-top: 20px;
    p{
        font-size: 0.8rem;
        color: #999;
        margin-left: 15px;
    }
}
//我的/安全中心/短信验证
.open-information-from {
    background-color: #fff;
    text-align: center;
    padding-bottom: 10px;
}
.open-information-from label{
    margin-left: 15px;
}
//.open-information-from .el-input__inner{
//  border: none;
//  border-bottom: 1px solid #999;
//  border-radius:0px;
//}
.open-information-from {
    span{
        position: relative;
        right: 30px;
        top: -5px;
        z-index: 1;
    }
}
//我的/安全中心/开启支付密码
.open-pay-password{
    background-color: #fff;
}
.open-pay-password-keyboard-title {
    margin: 15px;
}
.open-pay-password-keyboard .van-password-input{
    padding-bottom: 20px;
}
.open-pay-password-keyboard-text {
    font-size: 0.8rem;
    margin: 10px;
    padding-bottom: 20px;
}
.demo-ruleForm input{
    border-bottom:1px solid #333;
}
//我的/安全中心/安全验证
.safety-verification-header {
    margin-bottom: 20px;
}
.safety-verification{
    background-color: #fff;
}
.safety-verification-list {
    padding: 10px 0 10px 10px;
}
.safety-verification-list input.mint-field-core {
    border-bottom: 1px solid #999;
}
.safety-send{
    position: relative;
    top: -25px;
    right: 10px;
}
.safety-verification-text {
    font-size: 0.8rem;
    color: #999;
    padding:10px 0 20px 10px;
}
.safety-verification-btn{
  width: 90%;
  margin: 50px auto;
}
.open-information-header {
    margin-bottom: 19px;
}
.rest-pass-word-btn{
    margin: 50px 0 20px 0;
}

//------------------------------我的/关于我们--------------
.about-our b{
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: -3px;
}
.about-our-logo {
    text-align: center;
    margin-top: 45px;
}
.about-our-text {
    background-color: #fff;
    width: 98%;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 10px;
    p{
      font-size: 0.8rem;
      margin-left: 8px;
    }
    span{
      font-size: 1.0rem;
      margin-left: 0px
    }
}
.about-our-text-content {
    margin: 0 10px 0 10px;
    padding-bottom: 10px;
}

.about-our-contact{
    background-color: #fff;
    width: 98%;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 10px;
    padding-bottom: 10px;
    p{
      margin-left: 10px;
    }
}
//------------------------------我的/地址薄/编辑---------------
.adress-book-header {
    margin-bottom: 45px;
}
.edit-adress {
    background-color: #fff;
}
.edit-adress-list {
    margin-top: 10px;
    span{
        background-color: #fff;
        width: 100%;
        height: 100%;
        display: inline-block;
        padding-left: 15px;
        color: #999;
    }
}
.edit-adress-list a.mint-cell.mint-field.is-nolabel {
    border-bottom: 1px solid #999;
    margin: 0 20px;
}
.edit-adress-btn{
    margin: 20px 0 20px 0;
}
.edit-adress-text {
    font-size: 0.8rem;
    color: #999;
    margin-left: 15px;
    padding-bottom: 20px;
}
.adress-book-list .mint-cell-wrapper{
    display: block;
}
.adress-book-list button{
    position: absolute;
    top: 10px;
    right: 5px;
}

.add-adress-list .mint-field-other {
    position: unset;
}
.adress-book-content{
    p{
      font-size:0.8rem;
      line-height: 20px;
    }
}
//------------------------------我的/地址薄/添加--------------
.add-address-header {
    margin-bottom: 20px;
}
.addaddress-icon{
    margin-left: 15px;
}
.add-address{
  background-color: #fff;
}
.add-adress-list {
    margin-top: 1px;
    padding-bottom: 20px;
    span{
        padding-left: 15px;
        color: #999;
        margin-top: 20px;
        display: inline-block;
    }
    img{
        margin-top: -30px;
        position: relative;
        float: right;
        margin-right: 20px;
    }
}
.add-adress-list a.mint-cell.mint-field.is-nolabel {
    border-bottom: 1px solid #999;
    margin: 0 20px;
}
.add-adress-list .mint-cell-wrapper {
    background-image: none;
}
.add-adress-btn{
    margin: 20px 0 20px 0;
    background-color: #fff;
}
//------------------------------我的/公告中心---------------
.news-center-list .mint-cell-label {
    margin-top: 12px;
    margin-left: 40px;
    padding-bottom: 10px;
}
.news-center-header{
  margin-bottom: 19px;
}
.news-details-header{
    margin-bottom: 25px;
}
.news-details-list{
  background-color: #fff;
  margin-bottom: 1px;
}
.news-details-list-title{
  margin-right: 12px;
  margin-left: 15px;
  span{
      font-size: 1.0rem;
  }
  p{
    font-size: 0.6rem;
    color:#999;
    span{
       font-size: 0.6rem;
    }
  }
}
.news-details-list-content{
  margin-left: 15px;
  span{
    font-size: 0.78rem;
  }
}
.notice{
    margin: 0 auto;
    height: 32px;
    overflow: hidden;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #f2f2f2;
    font-size: 0.8rem;
}
.anim{
    transition: all 1s;
    margin-top: -50px;
}
.notice-list{
    img{
        position: relative;
        top: 10px;
        padding-right: 10px;
    }
    li{
        height: 32px;
        margin-right: 5px;
        color:#000;
        font-size: 0.72rem;
        margin-top: -3px;

    }
}
//我的/版本更新
.version-logo {
    text-align: center;
    margin-top: 50px;
}
.version-update {
    margin-top: 100px;
}
//----------------------------首页/通证介绍-----------------------
.pass-information{
    border-bottom:1px solid #ccc;
    width: 100%;
    li{
        margin-top: 10px;
        float: left;
        border-right:1px solid #ccc;
        padding: 0 10px 0 10px;
        height: auto;
    }
}
.pass-information li:last-child{
    border-right:none;
}
.pass-time {
    margin-top: 80px;
}
 .pass-quotation button{
    margin-right: 70px;
    margin-left: 40px;
    margin-top: 150px;
}
.popup{
    height: auto;
    width: 100%;
}
.popup-header{
    text-align: center;
    img{
        float: left;
        width: 14px;
        height: auto;
    }
}
button.mint-button.popup-btn.mint-button--primary.mint-button--large {
    margin: 0 auto;
}
//-------------首页/支付结果-------------
.payment-result-header h3{
    text-align: center;
}
.payment-result-header{
    border-bottom:1px solid #ccc;
    a{
        margin-top: -40px;
    }
}
.payment-result-success{
    text-align: center;
    margin-top: 10px;
    img:first-child{
         width: 50px;
        height: auto;
    }
    span{
        font-size: 2.4rem;
    }
    i{
         display: block;
        font-weight: 400;
        text-decoration:line-through;
        font-size: 2.0rem;
        color:#CCCCCC;
    }
}
.activity-line-l{
    margin-top: 10px;
    height: 1px;
    width: 40%;
    background-color: #ccc;
}
.activity-line-r{
    margin-top: 10px;
    height: 1px;
    width: 40%;
    background-color: #ccc;
}
.payment-result-activity span{
    margin-left: 15px;
    color:#ccc;
}
.payment-result-invitation{
    margin-top: 10px;
}

