@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f2f2f2;
}

.text-beyond {
  width: 101%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overflow-text {
  width: 200px;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}

html, body {
  font-family: myFont, sans-serif;
}

li {
  list-style: none;
}

input {
  border: none;
  outline: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

a {
  text-decoration: none;
  color: #979EAC;
}

.mint-button--large {
  width: 100%;
  margin: 0 auto;
  color: #fff;
  background-color: #036EB8;
}

.el-input__inner {
  border: none !important;
  border-bottom: 1px solid #e4e4e4 !important;
  border-radius: 0px !important;
}

.el-input {
  width: 85%;
  margin-top: 0px;
}

.spinner span {
  margin: 0px auto;
  display: table;
}

.mint-header {
  background-color: #fff !important;
  color: #000 !important;
}

.header {
  margin-bottom: 90px;
}

.radius {
  border-radius: 10px;
}

.radius-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.radius-bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

h1 {
  font-weight: 400;
}

.mint-field-state .mintui {
  display: none;
}

.mint-popup-bottom {
  width: 100%;
}

.van-number-keyboard {
  position: absolute;
}

.mint-popup {
  display: block !important;
  z-index: 10000000;
  width: 100%;
}

.van-popup {
  width: 100%;
  height: 320px;
}

.paymentamount {
  text-align: center;
  display: block;
  margin-bottom: 15px;
  margin-top: 15px;
}

.van-tabs__line {
  background-color: #036EB8 !important;
}

.mine-cell .mint-cell-wrapper {
  background-image: none  !important;
}

.mine-cell .mint-cell:last-child {
  background-image: none  !important;
}

.mint-cell-wrapper {
  background-image: none !important;
}

.el-input__prefix {
  top: 8px;
}

.el-input__suffix {
  right: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
  top: 16px;
}

label.mint-button-text img {
  position: relative;
  top: 4px;
}

.mint-field-clear {
  opacity: .2;
  top: -3px;
  left: -3px;
  position: relative;
}

.no-deta {
  margin: 50px auto;
  text-align: center;
  padding-bottom: 20px;
}

.van-button--primary {
  background-color: #036EB8 !important;
  border: #036EB8 !important;
}

.van-button--large {
  position: fixed !important;
  bottom: 10px !important;
  background-color: #036EB8 !important;
  border: 1px solid #036EB8 !important;
}

/* 公共token部分 */
.home-pub-token {
  height: 160px;
}

.home-pub-token .icon {
  height: 60px;
  margin: 55px 10px 0 45px;
}

.home-pub-token .publicity {
  height: 100px;
}

.home-pub-token span {
  display: inline-block;
  margin-top: 52px;
  font-size: 16px;
  color: #959595;
}

.home-pub-token span b {
  font-size: 24px;
  color: #333;
  margin-right: 10px;
}

.home-pub-token span p {
  font-size: 24px;
}

.progress {
  margin: 0 20px;
}

.progress .mt-progress-runway {
  border-radius: 10px;
}

.progress .mt-progress-progress {
  border-radius: 10px;
}

.reset-mail-information {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.reset-mail-information img {
  margin-top: 10px;
  width: 50px;
}

.reset-mail-information .verification-code {
  padding-bottom: 20px;
  margin-top: 20px;
}

.reset-mail-information .verification-code span {
  margin: 10px 15px 0 0;
  color: #456DF1;
}

.reset-mail-keyboard {
  margin-top: 140px;
}

.reset-mail {
  background-color: #fff;
}

.pass-details-information {
  background-color: #fff;
  width: 100%;
  margin: 2px auto;
  height: auto;
  overflow: hidden;
}

.pass-details-information-header {
  margin: 10px 0 10px 16px;
  font-weight: 700;
}

.pass-details-information-content img {
  width: 25px;
}

.pass-details-issue-data {
  height: auto;
  margin-top: 10px;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 45px;
}

.pass-details-issue-data-header {
  margin: 10px 0 0px 16px;
  font-weight: 700;
}

table.el-table__header {
  width: auto !important;
}

table.el-table__body {
  width: auto !important;
}

.pass-details-issue-form {
  margin-top: 10px;
}

.pass-details-issue-form-heder {
  background-color: #fff;
}

.pass-details-issue-form-heder span {
  margin-left: 10px;
  font-weight: 700;
}

.pass-details-issue-history-title {
  background-color: #fff;
}

.pass-details-issue-history-title span {
  margin: 10px 0 10px 10px;
  display: inline-block;
  font-size: 0.8rem;
}

.pass-details-issue-trend-title span {
  margin: 10px 0 10px 10px;
  display: inline-block;
}

.mint-navbar .mint-tab-item.is-selected {
  border-bottom: 1px solid #26a2ff;
  color: #26a2ff;
}

.subject-details-content {
  margin-top: 20px;
}

.subject-details-content span.mint-cell-label {
  width: 55%;
  float: right;
  text-align: right;
}

.information-title {
  margin: 20px 24px 20px 24px;
  color: #666;
}

.to-details-header .release {
  margin-right: 10px;
}

.purchase-pass-type {
  height: 50px;
  background-color: #fff;
  margin-top: 45px;
  line-height: 50px;
}

.purchase-pass-type span {
  margin-left: 15px;
  color: #999;
}

.purchase-pass-type-checkbox {
  margin-right: 10px;
}

.purchase-pass-type-checkbox input {
  margin-left: 50px;
}

.purchase-pass-buy-assets span:first-child {
  line-height: 80px;
  margin-left: 15px;
  color: #979eac;
}

.purchase-pass-buy-information {
  margin-top: 10px;
  margin-right: 28px;
}

.purchase-pass-buy-information span {
  position: relative;
  top: -15px;
  left: 10px;
}

.purchase-pass-buy-information img {
  margin-top: 8px;
  margin-left: 20px;
}

.purchase-pass-valuation-assets span:first-child {
  color: #979eac;
  margin-left: 15px;
}

.purchase-pass-valuation-assets {
  height: 50px;
  background-color: #fff;
  margin-top: 0px;
  line-height: 50px;
  margin-bottom: 10px;
}

.purchase-pass-valuation-assets-img {
  margin-right: 28px;
}

.purchase-pass-valuation-assets-img img {
  margin-top: 8px;
}

.purchase-pass-valuation-assets-img span {
  position: relative;
  top: -2px;
}

.purchase-pass-input {
  height: auto;
  background-color: #fff;
  margin-top: -1px;
}

.purchase-pass-input input {
  border-bottom: 1px solid #ccc;
  height: 40px;
  width: 90%;
  margin: 5px 0 10px 15px;
}

.purchase-pass-input p {
  padding: 10px 0 0 15px;
  color: #979eac;
}

.purchase-pass-quota {
  margin-bottom: 20px;
  background-color: #fff;
}

.purchase-pass-quota .purchase-pass-quota-input {
  display: inline-block;
  width: 45%;
  height: 40px;
  color: #000;
  border-radius: 5px;
  text-indent: initial;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.purchase-pass-quota p {
  margin-left: 15px;
  color: #979eac;
  padding-top: 10px;
}

.purchase-pass-quota .mint-field-core {
  text-indent: 0rem;
}

.purchase-pass-btn {
  width: 90%;
  margin: 0 auto;
}

.pass-details-issue-btn {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.copy-text {
  -webkit-touch-callout: all;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

.buy-pass-name {
  height: 50px;
  background-color: #fff;
  margin-top: 50px;
  overflow: hidden;
  padding-left: 15px;
}

.buy-pass-name span {
  display: block;
}

.buy-pass-name img {
  margin: 10px;
}

.buy-password-show {
  margin-top: -80px;
}

.buy-pass-name-text {
  margin: 10px 0 0 10px;
}

.buy-pass-name-price {
  background-color: #fff;
  height: 50px;
  margin-top: 1px;
  line-height: 50px;
}

.buy-pass-name-price p {
  margin-left: 30px;
  color: #666;
  display: inline-block;
}

.buy-pass-name-price span {
  margin-right: 10px;
  color: #999;
}

.buy-pass-name-price-text.fr span {
  color: #333;
}

.buy-pass-time {
  margin-bottom: 20px;
  padding-top: 10px;
  background-color: #fff;
}

.buy-pass-time p {
  color: #000;
  padding: 1px 0 0 50px;
}

.buy-pass-time span {
  color: #ff6600;
  margin-left: 15px;
}

.buy-pass-btn {
  width: 85%;
  margin: 0 auto;
}

.to-issue-name {
  margin-top: 10px;
}

.to-issue-progess span {
  margin: 10px 0 10px 10px;
  display: inline-block;
}

.to-issue-progess .el-steps--horizontal {
  margin-left: 30px;
}

.to-issue-btn {
  margin: 20px 0 0 10px;
}

.to-issue-btn button {
  margin-right: 5px;
}

/*--------------------------商户---------------*/
.explore-header {
  margin-bottom: 41px;
}

.merchant-list {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  height: auto;
}

.merchant-list-img {
  display: inline-block;
  margin: 0 20px 0 -20px;
}

.merchant-list-name p {
  display: inline-block;
  margin: 5px 0px 0 50px;
}

.merchant-list-name ul {
  height: auto;
  margin: -10px 0 0 10px;
}

.merchant-list-name ul li {
  float: left;
  margin-right: 15px;
}

.merchant-list-nauthentication {
  position: absolute;
  right: 0;
  bottom: 80px;
}

/*------------------------我的---------------------*/
.mine span.mint-cell-text {
  margin-left: 6px;
}

.mint-cell-title {
  margin-left: 16px;
  flex: 0px;
}

.assets-img {
  position: relative;
  top: 12px;
}

.transaction-flow-title {
  color: #fff;
  width: 100%;
}

.transaction-flow-title img {
  width: 15px;
  padding: 0 5px 0 5px;
}

.transaction-flow-title ul {
  margin-left: -30px;
}

.transaction-flow-title ul li {
  margin-right: 20px;
}

.transaction-flow-title fl {
  margin-right: 30px;
}

.transaction-flow-list {
  margin-top: 50px;
}

.assets-icon {
  position: relative;
  top: 12px;
}

.mint-cell {
  margin: 1px 0 1px 0;
}

.mint-cell-label {
  color: #888;
  display: block;
  margin-top: 6px;
  margin-left: 40px;
}

.certificate-list-header {
  margin-bottom: 41px;
}

.assets-list-add {
  position: relative;
  top: 10px;
}

.assets-detailed-list p {
  width: 100%;
  text-align: center;
  position: relative;
  top: -10px;
}

.assets-list-right {
  margin: -30px 10px 0 0;
}

.assets-detailed-list a.mint-cell {
  margin-bottom: -23px;
}

.scan-button {
  position: relative;
  top: 150px;
}

.scandetail {
  background-color: #fff;
}

.scandetail-header {
  margin-bottom: 43px;
}

.scandetail-num {
  margin: 20px 0px 0px 15px;
}

.scandetail-num input {
  bottom: 1px soli;
  border-bottom: 1px solid #ccc;
  width: 96%;
  margin-bottom: 10px;
}

.scandetail-num span {
  color: #999;
}

.scandetail-num p {
  color: blue;
}

.scandetail-btn {
  margin-top: 20px;
}

.scandetail-text {
  margin-left: 15px;
  margin-top: 20px;
  color: #999;
}

.safety-center-list .mint-cell {
  margin: 5px 0px 5px 0;
}

.safety-center-list .mint-cell-wrapper {
  background-image: none  !important;
}

.safety-center-list {
  margin-top: 45px;
}

.safety-verification-list span {
  margin-left: 15px;
}

.safety-verification-list b {
  font-weight: 400;
  position: relative;
  top: -10px;
}

.rest-pass-word-from {
  background-color: #fff;
  text-align: center;
  padding-bottom: 10px;
  margin-top: 18px;
}

.rest-pass-word-from .mint-cell-wrapper {
  background-image: none  !important;
}

.rest-pass-word-from label {
  margin-left: 15px;
}

.rest-pass-word-text {
  margin-top: 20px;
}

.rest-pass-word-text p {
  color: #999;
  margin-left: 15px;
}

.open-information-from {
  background-color: #fff;
  text-align: center;
  padding-bottom: 10px;
}

.open-information-from label {
  margin-left: 15px;
}

.open-information-from span {
  position: relative;
  right: 30px;
  top: -5px;
  z-index: 1;
}

.open-pay-password {
  background-color: #fff;
  padding-top: 20px;
}

.open-pay-password-keyboard-title {
  margin: 15px;
}

.open-pay-password-keyboard .van-password-input {
  padding-bottom: 20px;
}

.open-pay-password-keyboard-text {
  margin: 10px;
  padding-bottom: 20px;
}

.demo-ruleForm input {
  border-bottom: 1px solid #333;
}

.news-center-list .mint-cell-label {
  margin-top: 12px;
  margin-left: 40px;
  padding-bottom: 10px;
}

.news-center-header {
  margin-bottom: 19px;
}

.news-details-header {
  margin-bottom: 25px;
}

.news-details-list {
  background-color: #fff;
  padding-right: 6px;
  padding-left: 5px;
}

.news-details-list-title p {
  color: #999;
}

.news-details-list-content {
  margin-left: 15px;
}

.notice {
  margin: 0 auto;
  height: 32px;
  overflow: hidden;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #f2f2f2;
}

.anim {
  transition: all 1s;
  margin-top: -50px;
}

.notice-list img {
  position: relative;
  top: 10px;
  padding-right: 10px;
}

.notice-list li {
  height: 32px;
  margin-right: 5px;
  color: #000;
  margin-top: -3px;
}

.pass-information {
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.pass-information li {
  margin-top: 10px;
  float: left;
  border-right: 1px solid #ccc;
  padding: 0 10px 0 10px;
  height: auto;
}

.pass-information li:last-child {
  border-right: none;
}

.pass-time {
  margin-top: 80px;
}

.pass-quotation button {
  margin-right: 70px;
  margin-left: 40px;
  margin-top: 150px;
}

.popup {
  height: auto;
  width: 100%;
}

.popup-header {
  text-align: center;
}

.popup-header img {
  float: left;
  width: 14px;
  height: auto;
}

.payment-result-header h3 {
  text-align: center;
}

.payment-result-header {
  border-bottom: 1px solid #ccc;
}

.payment-result-header a {
  margin-top: -40px;
}

.payment-result-success {
  text-align: center;
  margin-top: 10px;
}

.payment-result-success img:first-child {
  width: 50px;
  height: auto;
}

.payment-result-success i {
  display: block;
  font-weight: 400;
  text-decoration: line-through;
  color: #CCCCCC;
}

.activity-line-l {
  margin-top: 10px;
  height: 1px;
  width: 40%;
  background-color: #ccc;
}

.activity-line-r {
  margin-top: 10px;
  height: 1px;
  width: 40%;
  background-color: #ccc;
}

.payment-result-activity span {
  margin-left: 15px;
  color: #ccc;
}

.payment-result-invitation {
  margin-top: 10px;
}
